# $ pip install -r requirements.txt --index-url https://download.pytorch.org/whl/cu121 #直接一行搞定

# $ pip uninstall torch torchvision torchaudio -y
# $ pip install torch torchvision --index-url https://download.pytorch.org/whl/cu121 #弥补用的

accelerate>=0.25.0
beartype
classifier-free-guidance-pytorch>=0.5.1
einops>=0.7.0
einx[torch]>=0.1.3
ema-pytorch
local-attention>=1.9.0
gateloop-transformer>=0.2.2
numpy
pytorch-custom-utils>=0.0.9
taylor-series-linear-attention>=0.1.6
torch>=2.1
# pytorch-cuda==11.8
torch_geometric
torchtyping
tqdm
vector-quantize-pytorch>=1.12.8
x-transformers>=1.26.0
matplotlib
trimesh
jupyter
pytictoc
plotly
kaleido
#"/home/jiangxiaotian/anaconda3/envs/jxtnet2/lib/python3.9/site-packages/torch/_tensor.py", line 1087

        # if dtype is None:
        #     return self.numpy()
        # else:
        #     return self.numpy().astype(dtype, copy=False)
# 改成

        # if dtype is None:
        #     return self.cpu().detach().numpy()
        # else:
        #     return self.cpu().detach().numpy().astype(dtype, copy=False)


